<template name="initiatorOne">
      <div class="container-fluid"><button type="button" class="btn btn-danger btnGuideTxt" value="Intruders in my house!">Intruders in my house!</button></div>
      <div class="container-fluid"><button type="button" class="btn btn-danger btnGuideTxt" value="Intruders in my yard!">Intruders in my yard!</button></div>
      <div class="container-fluid"><button type="button" class="btn btn-danger btnGuideTxt" value="Suspects outside my yard!">Suspects outside my yard!</button></div>
</template>