<template name="initiatorOne">
      <div class="container-fluid"><button type="button" class="btn btn-danger btnGuideTxt">INTRUDERS IN HOUSE!</button></div>
      <div class="container-fluid"><button type="button" class="btn btn-danger btnGuideTxt">INTRUDERS IN YARD!</button></div>
      <div class="container-fluid"><button type="button" class="btn btn-danger btnGuideTxt">SUSPECTS OUTSIDE MY YARD!</button></div>
</template>

<template name="responderOne">
      <div class="container-fluid"><button type="button" class="btn btn-info btnGuideTxt">GIVE MORE INFO!</button></div>
      <div class="container-fluid"><button type="button" class="btn btn-info btnGuideTxt">I'M ON MY WAY!</button></div>
      <div class="container-fluid"><button type="button" class="btn btn-info btnGuideTxt">I WILL PHONE BEAGLE WATCH!</button></div>
        <div class="container-fluid"><button type="button" class="btn btn-info btnGuideTxt">I WILL PHONE THE POLICE!</button></div>
</template>