<template name="help_confirm">
        
            <h4>
                    ARE YOU SURE YOU WANT TO SEND A HELP SIGNAL?
            </h4>
            <div>
                If you confirm help sms's will be sent to: 
                <ul>
                    <li>
                        BeagleWatch control room
                    </li>
                    <li>
                        BeagleWatch foot patrol
                    </li>
                    <li>
                        BeagleWatch dedicated vehicle
                    </li>
                    <li>
                        KloofEnDal Forum committee
                    </li>
                    <li>
                        Whomever else is subscribed to the KRF alert system.
                    </li>
                </ul> 
                        <a class="btn btn-help btn-block btn-dynamic-props "  href="/help-chat-main">YES HELP!</a>         <a class="btn btn-cancel btn-block btn-dynamic-props "  href="/">CANCEL</a>
            </div>
            
        
</template>