<template name="chat_active_list">
    {{#each chatsInfo}}
    <div id={{_id}} class = "chats" >
        <a href="/help_chat_main">
            <div class="chatNo">CHAT #{{_id}}</div> 
            <div>Initiator: <div class="inline info">{{initiatorName}}</div></div>
            <div>From: <div class="inline info">{{streetAddr}}</div></div>
            <div>Time: <div class="inline info">{{dispCreatedDate}}</div></div>
            <div>No of Posts: <div class="inline info">{{chatPostsCnt}}</div></div>
            <div>Last Post: <div class="inline info">{{dispLastPostDate}}</div></div>
        </a>
    </div>
    {{/each}}
</template>