<template name="alert_buttons">
    <div>
        <a class="btn btn-help btn-block btn-dynamic-props"  href="/help_confirm">HELP!</a>
    </div>
    <div>
        <a class="btn btn-warning btn-block btn-dynamic-props "  href="/chat_active_list">ACTIVE CHATS</a>
    </div>
    <div>
        <a class="btn btn-prevpost btn-block btn-dynamic-props "  href="">PREVIOUS CHATS</a>
    </div>
    <div>
        <h3><a href="/users_profile">USERS PROFILE.</a></h3>
    </div>
    <div>
        <a href="AppUse">How to use this app.</a>
    </div>
<div id="footer">
Copyright © TektiteSE.biz
</div>
</template>