<template name="MasterLayout">
    <div class="container header_Format">
        <div class="login">
            {{>header}}
        </div>    
        {{#if currentUser}}
            {{> yield}}
        {{/if}}
    </div>
</template>

<template name="header">
    <div class="navbar">
        <div class="navbar-inner"> 
            <div class="container">
                 <div class="nav pull-right" style="text-align:center">
                   <div>KLOOFENDAL RESIDENTS ALERT</div> 
                    {{>loginButtons}}
                    {{#if currentUser}}
                    {{else}}
                        PLEASE LOG IN
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
