.bubbleRight
{
position: relative;
text-align: left;
width: 300px;
padding: 0px;
background: #ACFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #009DFF solid 2px;
}

.bubbleRight:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 3px 0 3px 10px;
border-color: transparent #ACFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -7px;
right: -9px;
top: 60%;
}

.bubbleRight:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 4px 0 4px 11px;
border-color: transparent #009DFF;
display: block;
width: 0;
z-index: 0;
margin-top: -8px;
right: -12px;
top: 60%;
}

.bubbleLeft
{
position: relative;
width: 300px;
padding: 0px;
background: #FF0000;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #984400 solid 2px;
}

.bubbleLeft:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 3px 10px 3px 0;
border-color: transparent #FF0000;
display: block;
width: 0;
z-index: 1;
margin-top: -7px;
left: -9px;
top: 60%;
}

.bubbleLeft:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 4px 11px 4px 0;
border-color: transparent #984400;
display: block;
width: 0;
z-index: 0;
margin-top: -8px;
left: -12px;
top: 60%;
}

.txtLeftAlign
{
text-align:left;
margin-top:1px;
margin-bottom:0px;
padding:0px;
}
.txtRightAlign
{
text-align:right;
margin-top:1px;
margin-bottom:0px;
padding:0px;
}
.postInfo
{
font-size: 11px;
margin-top:2px;
margin-bottom:-5px;
padding:0px;
}
.chatBox
{
width: 350px; 
height: 200px;
overflow-y: scroll;
padding: 20px; 
padding-top: 0px;
border-style: solid; 
margin-top:1px;
margin-bottom:1px;
}