<template name='help_chat_main'>
    <a class='btn' href='/'>Home</a>
<div class="chatBox" id="section">
<p class="txtLeftAlign postInfo">Pierre @ #37 Veronica (24:32 - 29 Oct 2014)</p>
<p class="bubbleLeft txtLeftAlign" style="color: white">
    Initiator posts
</p>
<p class="txtRightAlign postInfo">BeagleWatch @ Controlroom (24:33 - 29 Oct 2014)</p>
<p class="bubbleRight txtLeftAlign" style="float:right;">
    Responders posts
</p>
    {{#each posts}}
    {{#if initiatorPost}}
        <p class="bubbleLeft txtLeftAlign" style="color: white">
            {{postMessage}}
        </p>
    {{else}}
         <p class="bubbleRight txtLeftAlign" style="float:right;">
            {{postMessage}}
        </p>       
    {{/if}}
    {{/each}}
</div>
<form>   
<div class="form-group">
  <input type="text" class="form-control" placeholder = "Enter message..." id="inputmessage">
<button type="submit" class="btn btn-info btn-lg" name="postmessage">
POST
    </button>
</div>
</form>     
<div>{{name}} {{surname}} tag</div>
<div id="footer">
Copyright © W3Schools.com
</div>
</template>