<template name='help_chat_main'>
    <a class='btn' href='/'>Home</a>
<div style="height: 200px; overflow-y: scroll;" id="section">
<p style="">TEST</p>
<p class="bubbleLeft">
London is the capital city of England. It is the most populous city in the United Kingdom,
with a metropolitan area of over 13 million inhabitants.
</p>
<p class="bubbleRight">
Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.
</p>
</div>
<div class="form-group">
  <input type="text" class="form-control" id="usr">
</div>    
<div id="footer">
Copyright © W3Schools.com
</div>
</template>