.chatListOld {
    border-width :thick;
    border-radius: 10px;

}
.chatsOld {
    outline: 3px solid black;
    padding: 2px;
    margin-bottom: 7px;
    background-color: #eaff00;
}
.chatNoOld{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
div.inlineOld {
    display: inline;
}
div.infoOld {
    color: black;
    font-weight: bold;
}
div.headerOld{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding-bottom: 4px;
}
