<template name="chat_old_list">
    <div class='headerOld'>OLD CHATS</div>
    {{#each chatsInfo}}
    <div id={{_id}} class = "chatsOld" >
        <a href="/help_chat_main">
            <div class="chatNoOld">CHAT #{{_id}}</div>
            <div>Initiator: <div class="inlineOld infoOld">{{initiatorName}} {{initiatorSurname}}</div></div>
            <div>From: <div class="inlineOld infoOld">{{streetAddr}}</div></div>
            <div>Time: <div class="inlineOld infoOld">{{dispCreatedDate}}</div></div>
            <div>No of Posts: <div class="inlineOld infoOld">{{chatPostsCnt}}</div></div>
            <div>Last Post: <div class="inlineOld infoOld">{{dispLastPostDate}}</div></div>
        </a>
    </div>
    {{/each}}
</template>
